<div class="main-summary">
	<weather-summary class="today-summary"
		class="today-summary"
		periods="['dayName','dayWithSuffix']"
		date="currentWeather.last_updated"
		condition="currentWeather.condition.text"
		temp-current="currentWeather.temp_c"
		temp-high="forecastWeather.day.maxtemp_c"
		temp-low="forecastWeather.day.mintemp_c" 
		wind-speed="currentWeather.wind_mph"
		wind-direction="currentWeather.wind_dir"
		wind-degree="currentWeather.wind_degree"
		icon-path="currentWeather.condition.icon"
	></weather-summary>
</div>
<div ng-repeat="hr in forecastWeather.hour | isInFuture:'time'">
<!-- 	<span>{{forecastWeather}}</span> -->
	<weather-summary
	class="hourly-summary"
	periods="['time']"
	date="hr.time"
	temp-current="hr.temp_c" 
	wind-speed="hr.wind_mph"
	wind-direction="hr.wind_dir"
	wind-degree="hr.wind_degree"	
	icon-path="hr.condition.icon"
	></weather-summary>
</div>