<div class="main-summary">
	<weather-summary
		class="forecast-summary"
		periods="dayForecast.periods"
		condition="dayForecast.summary"
		temp-high="dayForecast.temperatureHigh"
		temp-low="dayForecast.temperatureLow"
		wind-speed="dayForecast.windSpeed"
		wind-degree="dayForecast.windBearing"
		icon="dayForecast.icon"
	></weather-summary>
</div>

<div class="hourly-summaries">
	<div ng-repeat="hr in dayForecast.hours" class="hourly-summary-container">
		<weather-summary
				class="hourly-summary"
				periods="hr.periods"
				date="hr.friendlyDate"
				temp-current="hr.temperature"
				wind-speed="hr.windSpeed"
				wind-degree="hr.windBearing"
				icon="hr.icon"
		></weather-summary>
	</div>
</div>
