<div class="main-summary">
	<loader loader-class="summary-loader" loading="loadingDay"></loader>
	<weather-summary
		class="forecast-summary"
		periods="[{'name':'dayName', 'value': dayForecast.date.weekday_short}, {'name': 'dayWithSuffix', 'value': appendDaySuffix(dayForecast.date.day)}]"
		condition="dayForecast.conditions"
		temp-high="dayForecast.high.celsius"
		temp-low="dayForecast.low.celsius"
		wind-speed="dayForecast.maxwind.mph"
		wind-direction="dayForecast.avewind.mph"
		wind-degree="dayForecast.avewind.dir"
		icon-path="dayForecast.icon_url"
		icon="dayForecast.icon"
	></weather-summary>
</div>

<div class="hourly-summaries">
	<loader loader-class="hours-loader" ng-show="loadingHours" loading="loadingHours"></loader>
	<div ng-repeat="hr in dayForecast.hour" class="hourly-summary-container">
		<weather-summary
				class="hourly-summary"
				periods="[{'name':'hour', 'value': hr.FCTTIME.hour + hr.FCTTIME.ampm.toLowerCase()}]" time-zone="location.tz_long"
				temp-current="hr.temp.metric"
				wind-speed="hr.wspd.english"
				wind-direction="hr.wdir.dir"
				wind-degree="hr.wdir.degrees"
				icon-path="hr.icon_url"
				icon="hr.icon"
		></weather-summary>
	</div>
</div>
