<div class="main-summary">
	<weather-summary
		class="today-summary"
		periods="[{'name':'now','value': 'Now'}]"
		date="currentWeather.time"
		condition="currentWeather.summary"
		temp-current="currentWeather.temperature | number: 0"
		wind-speed="currentWeather.windSpeed"
		wind-direction=""
		wind-degree="currentWeather.windBearing"
		icon-path=""
		icon="currentWeather.icon"
	></weather-summary>
</div>
<div class="hourly-summaries">
	<div ng-repeat="hr in todayForecast.hours track by $index" class="hourly-summary-container">
		<weather-summary
			class="hourly-summary"
			periods="hr.periods"
			date="hr.friendlyDate"
			temp-current="hr.temperature"
			wind-speed="hr.windSpeed"
			wind-degree="hr.windBearing"
			icon="hr.icon"
		></weather-summary>
	</div>
</div>