<div class="location-search">
    <form class="search-form">
        <input
                class="search-input"
                type="text"
                name=""
                placeholder={{searchPlaceholder}}
                ng-focus="changeInputFocus(true)"
                ng-blur="changeInputFocus(false)"
                ng-model="searchTerm">

    </form>
    <ul class="search-results" ng-class="{'active' : searchTerm.length > 0}">
        <loader loading="loadingSearchResults"></loader>
        <li ng-if="searchResults.length > 0" class="search-result" ng-repeat="location in searchResults" ng-click="selectLocation(location)">{{location.name}}</li>
    </ul>
</div>
