@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css');

$start: 1;
$end: 10;

.testing {
	width: percentage(7/7);
}

html,body {
	font-size: 1vh;
	line-height: 1;
	font-weight: 600;
}

body {
	color: white;
	font-family: 'Dosis', sans-serif;
	width: 100vw;

}

div.background-container {
	height: 100%;
	width: 100%;
	background-image: url("../assets/images/backgrounds/sunshine_1920.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	position: fixed;
	z-index: -1;
	.overlay {
		position: relative;
		height: 100%;
		width: 100%;
		background-color: rgba(0,0,0,0.7); 
	}
}

.main {
	width: 100%;

	.main-container {
		margin: 0 2.5rem;
		overflow-x: hidden;
		form {
			input {
				&.text, &.submit {
					color: black;
					font-size: 2em;
				}
			}
		}
		span.location {
			font-size: 2em;
		}
	}

	.main-summary .forecast-summary, .daily-summaries .daily-summary {
		.high-temp-wrapper, .low-temp-wrapper {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			grid-auto-rows: minmax(auto, auto);
			&>span {
				grid-row: 1/1;
				margin: auto 0;
			}
			.glyphicon {
				grid-column: 1;
				font-size: 0.4em;
				vertical-align: middle;
			}
			.high-temp, .low-temp {
				grid-column: 2/5;
			}
		}
	}


	weather-summary {
		position: relative;
		color: white;
		.weather-summary-wrapper {
			margin-bottom: 1.5rem;
			background-color: rgba(200,200,200,0.25);
			padding: 2rem 0.125em;
			display: grid;
			grid-template-columns: repeat(5, 1fr);
			grid-column-gap: 1rem;
			grid-row-gap: 1rem;
			grid-auto-rows: minmax(auto, auto);				
			&>div {
				padding: 0;
				text-align: center;
			}
			.period-container, .condition-container {
				grid-column: 1/3;
			}
			.temp-container, .wind-container {
				grid-column: 3/6;
			}
			.condition-container {
				grid-row: 2/4;
				font-size: 7.5rem; 
				.condition-image-wrapper {
					left: 0;
					right: 0;
					.conditionImg {
						width: 100%;
						height: 100%;
					}
					.condition {
						font-size: 0.3em;
					}
				}
			}
			.temp-container {
				margin: 0 0 auto 0;
				span {
					vertical-align: top;
				}
				.high-temp, .low-temp {
					text-align: left;						
				}
				.current-temp, .high-temp-wrapper, .low-temp-wrapper {
					span.glyphicon {
						display: block;
					}
					span {
						display: inline-block;
					}
				}
				.high-temp-wrapper, .low-temp-wrapper {
					grid-column: 10/13;
					margin: auto 0;
				}
				.high-temp-wrapper {
					grid-row: 1/1;
					&>span {
						vertical-align: bottom;				
					}
				}
				.low-temp-wrapper {
					grid-row: 2/2;
					&>span {
						vertical-align: top;
					}				
				}
				.degree-c-symbol {
					font-size: 0.5em;
				}
				.glyphicon {
					text-align: center;					
				}			
			}
			.wind-container {
				grid-row: 3;
				text-align: right;
				font-size: 0.9em;
				margin-top: 1.5rem;
				.wind-direction {
					font-size: 0.5em;
				}
				.wind-mph {
					font-size: 0.5em;
					vertical-align: top;
				}
				.wind-direction-arrow {
					width: 0.5em;
					height: 0.5em;
				}						
			}			
			.period-container {
				span {
					// margin-right: 1rem;
					&.dayWithSuffix {
						font-size: 0.4em;
						vertical-align: top;
					}
				}
			}
		}



		&.today-summary {
			.weather-summary-wrapper {
				.temp-container {
					display: grid;
					grid-row: 1/3;
					grid-template-columns: repeat(12, 1fr);
					grid-template-rows: repeat(2, 1fr);
					grid-column-gap: 1rem;
					grid-row-gap: 0;
					grid-auto-rows: minmax(auto, auto);				
					.current-temp {
						font-size: 6em;
						grid-column: 1/10;
						grid-row: 1/3;
						text-align: right;			
					}
				}			
			}
		}
		&.forecast-summary {
			.temp-container {
				font-size: 1.15em;
    			grid-row: 1/3;
    			margin-left: 0.25em; 
				.high-temp, .low-temp {
					margin-left: 2rem;					
				}					
				.glyphicon {
					text-align: right;
				}
			}			
		}
		&.hourly-summary {
			font-size: 5rem;
			.weather-summary-wrapper {
				grid-template-columns: repeat(4,1fr);
				grid-row-gap: 0;
				padding-top: 0;
				padding-bottom: 0;
				&>div {
					margin: auto 0;
					grid-row: 1;

				}
				.period-container {
					grid-column: 1
				}
				.condition-container {
					grid-column: 2;
				}
				.temp-container {
					grid-column: 3;
				}
				.wind-container {
					grid-column: 4;
					grid-row-gap: 0;
				}
			}
		}
	}
	.daily-summaries {
		position: relative;
		display: grid;
		width: 200%;
		grid-template-columns: repeat(10, 9.5%);
		grid-template-rows: repeat(1, 1fr);
		grid-column-gap: 0.6%;
		grid-row-gap: 0;
		grid-auto-columns: minmax(auto, auto);	
		grid-auto-rows: minmax(auto, auto);		
		overflow-x: hidden;
		font-size: 1rem;
		weather-summary.daily-summary {
			.weather-summary-wrapper {
			font-size: 3.25rem;			
				width: 100%;
				display: inline-block;
				.temp-container, .wind-container {
					font-size: 0.9em;					
				}
				.wind-container {
					text-align: center;
				}
			}
		}
	}	
	.main-summary {
		.weather-summary-wrapper {
			font-size: 7.5rem;
		}
		.temp-container {
			font-size: 2.5rem;
		}
		.wind-container {
			padding-right: 1rem;
		}
	}
}