@import url('https://fonts.googleapis.com/css?family=Dosis');
@import '../../node_modules/font-awesome/scss/font-awesome';
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons-wind.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.eot');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.svg');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.ttf');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.woff');
@import url('https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/font/weathericons-regular-webfont.woff2');


$start: 1;
$end: 10;

html, body.body {
  font-size: 2vw;
  line-height: 1;
  font-weight: 600;
}

body.body {
  color: white;
  font-family: 'Dosis', sans-serif;
  width: 100vw;
  margin: 0;
}

a {
  text-decoration: none;
}


input {
  font-size:  3vw;
}

.location-search {
  position: relative;
  font-size: 3rem;
  font-weight: 500;

  ul.search-results {
    color: black;
    transition: height 1000ms;
    background-color: white;
    position: absolute;
    width: 100%;
    padding: 0 0 0 0.5rem;
    margin: 0;
    z-index: 1;

    loader {
      .loader-container {
        background-color: transparent;
      }
      .loader {
        border-color: rgba(100,100,100, 0.5);
        border-top-color: transparent;
      }
    }

    &.active {
      min-height: 33vw;
    }

    li.search-result {
      list-style: none;
      padding: 0.5rem 0;
      margin-top: 0.25rem;
    }
  }

  form.search-form {
    input.search-input {
      font-family: inherit;
      font-size: 1em;
      border: none;
      padding: 0.5rem 0.25rem 1rem 0.25rem;
      width: 100%;
      &:not(:focus) {
        background-color: rgba(100,100,100, 0.25);
        color: white;
        border-bottom: solid white 1px;
        &::placeholder {
          color: white;
        }
      }
    }
  }
}

.loader-container {
  background-color: rgba(200, 200, 200, 0.25);
  height: 100%;
  position: absolute;
  width: 100%;
  &.hidden {
    display: none;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border: 8px solid #f3f3f3; /* Light grey */
  border-top: 8px solid transparent;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1000ms linear infinite;
  &.loader-small {
    width: 25px;
    height: 25px;
    border-width: 3px;
  }
}

@keyframes spin {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

div.background-container {
  height: 100%;
  width: 100%;
  background-size: cover;
  background: url("../assets/images/backgrounds/sunshine_1920.jpg") no-repeat fixed center;
  position: fixed;
  z-index: -1;
  .overlay {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
  }
}